:root {
  --body-bg: #93c5fd;
  --canvas-bg: #ecfeff;
  --canvas-border-bg: #aad1fd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: "Nova Square", sans-serif;
  font-size: 16px;
}

body {
  background: var(--body-bg);
  background-image: url(/images/bg.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

#canvas {
  background-color: var(--canvas-bg);
  border: 0.5rem solid var(--canvas-border-bg);
  border-radius: 0.5rem;
}
